* @Miralys-Project
* @Tristan-GPT
* @etoile2feu

/apps/web/ @Miralys-Project
/apps/server/ @Miralys-Project
/apps/desktop/ @Miralys-Project
/apps/mobile/ @Miralys-Project
/packages/shared/ @Miralys-Project
/packages/ui/ @Miralys-Project
